@model ProyectoSoundify.Models.dbModels.Cancion

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Deseas Borrar este audio?</h3>
<div>
    <h4>Cancion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RutaImg)
        </dt>
        <dd class = "col-sm-10">
            <div class="player">
                <audio>
                    <source src="../Images/Anuncios/@Html.DisplayFor(model => model.RutaImg)" type="audio/mpeg">
                </audio>
            </div>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSubida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSubida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoriaNavigation.IdCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-route-id="@Model?.IdCancion">
        <input type="hidden" asp-for="IdCancion" asp-route-id="@Model.IdCancion" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
