    @model IEnumerable<ProyectoSoundify.Models.dbModels.Cancion>

@{
    ViewData["Title"] = "Index";
}

<h1>Audios</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Duracion
            </th>
            <th>
                Ruta imagen
            </th>
            <th>
                Subido el
                
            </th>
            <th>
                Categoria
            </th>
            <th>
                Subido por
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                    <audio src="../Images/Anuncios/@Html.DisplayFor(modelItem => item.RutaImg)" controls></audio>
                    
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSubida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.NombreCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCancion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCancion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCancion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
