@model IEnumerable< Cancion>

@{
    
    ViewData["Title"] = "Index";
}

<h1>Audios</h1>

    @foreach (var item in Model)
        {
    <section class="music_container">
        <div class="music_header">
            <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3>
            <h3>
                Categoria: @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.NombreCategoria)
            </h3>
        </div>
        <div class="music_controls">
            <div class="player">
                <audio>
                    <source src="../Images/Anuncios/@Html.DisplayFor(modelItem => item.RutaImg)" type="audio/mpeg">
                </audio>
            </div>
            <div class="music_actions">
                <h3 class="duracion">
                    Duracion: @Html.DisplayFor(modelItem => item.Duracion)
                </h3>
                <form asp-action="DarLike" asp-route-id="@item.IdCancion">

                    <input type="hidden" name="IdCancion" value="@item.IdCancion">
                    <input type="submit" value="💖" class="like" />

                </form>


            </div>
        </div>
        <h5>@Html.DisplayFor(modelItem => item.Descripcion)</h5>
        <h6>Subido por: @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.UserName) el @Html.DisplayFor(modelItem => item.FechaSubida)</h6>
    </section>
        }


