@model UserRolesViewModel
@{
    var userId = ViewBag.userId;
}

<form method="post">
    <div>
        <h2>
            Añadir Roles de Usuario
        </h2>

        @foreach(var item in Model.role.Roles)
        {
            <input type="hidden"asp-for="@Model.RoleId"/>
            <input type="hidden" asp-for="@Model.RoleName" />
            <input asp-for="@Model.IsSelected" type="checkbox"/>
            <label asp-for="@Model.IsSelected">
                @Model.RoleName
            </label>
        }
    </div>
</form>