@model IEnumerable<ProyectoSoundify.Models.dbModels.Anuncio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TituloAnuncio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RutaImgAnuncio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TituloAnuncio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RutaImgAnuncio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAnuncio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAnuncio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAnuncio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
